/* Contenedor Principal */
.cont-pagina
{
		 display: block;
		 padding-top: 130px;
		 background: white;
}

/* Cont = Formualrio */
.cont-formulario
{
   display: block;
	   position: relative;
	   width: 40%;
	   margin: 0px auto;
    border: 1px solid #CCC;
	   padding: 20px;

	   -webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	   border-radius: 4px;

	   -webkit-box-shadow: 0px 5px 5px #CCC;
	   -moz-box-shadow: 0px 5px 5px #CCC;
	   box-shadow: 0px 5px 5px #CCC;
}
